<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>会員登録</h1>
<p>・名前は必須です</p>
<p>・メールアドレスは必須です</p>
<p>・パスワードは必須です</p>

<form action="/account/confirm" method="post" >
	<table border = "1">
		<tr>
			<th>名前</th>
			<th>
		
				<input type="text" name="name" th:value="${name}">
			</th>
		</tr>
		<tr>
					<th>メールアドレス</th>
					<th>
						<input type="text" name="email" th:value="${email}">
					</th>
				</tr>
				<tr>
							<th>パスワード</th>
							<th>
								<input type="text" name="email" th:value="${email}">
							</th>
						</tr>
	</table>
	<button>確認</button>
		</form>
</body>
</html>